<h1> Seja Bem-Vindo! - <%= ambiente_rails %></h1>

<strong> <%= nome_aplicacao %> </strong>

<%= render "menu" %>

<p>
  <%= Time.now.to_formatted_s(:time) %>
</p>

<p>
  <strong>
    Data de acesso: <%= data_br(Date.today) %>
  </strong>
</p>

<p>
  <%= @nome %>
</p>

<p>
  A soma é: <%= 1 + 1 %>
</p>

<p>
  Meu Nome de traz pra frente é <%= @nome.reverse %>
</p>

<% a = "Minha variavel a" %>

<p>
  Imprimindo a variavel a: <%= a %>
</p>

<%# Comentario em ERB %>

<%# link_to "Listagem de Moedas", "/coins" %>
<%# Ou o famoso 'a href' noraml %>
